{% extends "base.html.twig" %}

{% block content %}

    <table class="table tablecustom table-bordered table-hover">
        <tr>
        <tr><td class="textboldleft">Name</td><td>{{ file.getName() }} <br>
                {% if file.isMedia() %}
                    Length: {{ fileInfo.getPlaytime() }}, Bitrate: {{ fileInfo.getBitrate() }} Kb/s
                {% endif %}
            </td></tr>
        <tr><td class="textboldleft">Size</td><td>{{ fileInfo.getSize() }} KB
            </td></tr>
        <tr><td class="textboldleft">Date of upload</td><td>{{ file.getUploadTime() }}
            </td></tr>
    </table>
    <div>
        {% if file.isImage() %}
            <img class="leftmargin" height="200" src="{{ fileInfo.getImageUrl() }}">
        {% endif %}
    </div>
    <a href="/download/{{ file.getId() }}" class="btn btn-success leftmargin"> Download </a>

{% endblock %}