{% extends "base.html.twig" %}

{% block content %}

    <table class="table tablecustom table-bordered table-hover">
        <tr>
        <tr><td class="textboldleft">Name</td><td>{{ file.getName() }} <br>
                {% if file.isMedia() %}
                    Length: {{ fileInfo.getPlaytime() }}, Bitrate: {{ fileInfo.getBitrate() }} kb/s
                {% endif %}
            </td></tr>
        <tr><td class="textboldleft">Size</td><td>{{ file.getSizeInKb() }} kB
            </td></tr>
        <tr><td class="textboldleft">Date of upload</td><td>{{ file.getUploadTime() }}
            </td></tr>
    </table>
    <div>
        {% if file.isImage() %}
            <img class="leftmargin" src="{{ fileInfo.getPreview() }}">
        </div>
    {% endif %}
    <a href="{{ file.getFileUrl(file.id, file.name) }}" class="btn btn-success leftmargin"> Download </a>
{% endblock %}