{% extends "base.html.twig" %}

{% block content %}

    <table class="table table-bordered table-hover">
        <tr>
        <tr><td class="textboldleft">Name</td><td>{{ file.getName() }} <br>
                {% if file.isMedia() %}
                    Lenght: {{ fileInfo.playtime_string }}, Bitrate: {{ fileInfo.bitrate/1024 }}kbps
                {% endif %}
            </td></tr>
        <tr><td class="textboldleft">Size</td><td>{{ file.getSize() }} bytes
            </td></tr>
        <tr><td class="textboldleft">Time</td><td>{{ file.getUploadTime() }}
            </td></tr>
    </table>
    <div>
        {% if file.isImage() %}
            <img class="leftmargin" height="200" src="{{ imagePath }}">
        {% endif %}
    </div>
    <a href="/download/{{ file.getId() }}" class="btn btn-success leftmargin" download> Download </a>

{% endblock %}