{% extends "base.html.twig" %}

{% block content %}

    <table class="table tablecustom table-bordered table-hover">
        <thead>
            <tr>
                <th class="column">Name</th>
                <th class="column">Size</th>
                <th class="column">Upload Time</th>
                <th class="column"></th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
                <tr>
                    <td class="cell">
                        <a href="file/{{ file.getId() }}">  {{ file.getName() }}</a>
                    </td>
                    <td class="cell">
                        {{ file.getSizeInKb() }} kB
                    </td>
                    <td class="cell">
                        {{ file.getUploadTime() }}
                    </td>
                    <td class="cell">
                        <a href="/download/{{ file.getId() }}" class="btn btn-xs btn-success leftmargin"> Download </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}